#div1{
  border-radius: 5px;
  border-style: solid;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  background-color: #F0E68CCC;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
